@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-6xl font-medium italic;
  }
}
@layer components {
  .title {
    @apply text-8xl font-bold;
  }
  .subtitle {
    @apply text-4xl font-semibold;
  }
  .subsubtitle {
    @apply text-lg font-medium italic;
  }
}
@layer components {
  .quote {
    @apply m-3 p-6 bg-blue-100 rounded-lg;
  }
  .quote p {
    @apply text-gray-700 font-serif italic text-lg leading-snug mb-1;
  }
  .quote span {
    @apply text-sm text-gray-500;
  }
  .container {
    @apply w-auto  border-2 rounded-lg shadow-lg bg-white max-w-none m-14;
  }
  .team-profile {
    @apply text-center px-6 py-4;
  }
  .team-profile img {
    @apply rounded-full w-32 h-32 object-cover object-top;
  }
  .team-profile h3 {
    @apply font-bold text-xl;
  }
  .team-profile p {
    @apply text-gray-500 text-sm;
  }
  .wrapper {
    @apply p-12 text-center bg-gray-100;
  }
  .wrapper h2 {
    @apply text-3xl font-bold;
  }
  .logos {
    @apply mt-6;
  }
  .logos img {
    @apply h-12 mx-4 mb-2;
  }
  .icon-wrap {
    @apply m-12;
  }
  .icon {
    @apply bg-pink-600 inline-block mr-3 text-white rounded p-2;
  }
  .icon-text {
    @apply text-lg font-bold;
  }
  .profile {
    @apply m-14;
  }
  .profile img {
    @apply rounded-full object-cover h-20 w-20 mr-4;
  }
  .profile h3 {
    @apply font-bold text-xl;
  }
  .service {
    @apply max-w-xs mx-5 px-8 py-10 bg-white rounded-lg shadow-md text-center;
  }
  .service span {
    @apply inline-block p-4 rounded-full bg-teal-600 text-white;
  }
  .service h2 {
    @apply mt-4 font-bold text-2xl;
  }
  .service p {
    @apply mt-4;
  }
  .container2 {
    @apply max-w-md w-auto my-6;
  }
  .container2 span {
    @apply block p-6 bg-red-600 text-xl text-white font-bold py-1 px-3 mr-4;
  }
  h3 {
    @apply font-bold text-lg text-gray-800;
  }
  p {
    @apply mt-1;
  }
  .wrapper2 {
    @apply bg-white border-2 w-80 mt-16 mx-auto rounded-md text-center p-10;
    height: 28rem;
  }
  .link {
    @apply bg-cyan-500 block mt-4 py-2 px-4 rounded-md border border-cyan-500;
  }
  .login-link {
    @apply bg-cyan-500 text-white;
  }
  .card {
    @apply bg-white w-72 h-80 p-8 shadow-lg rounded-xl mx-auto mt-20;
  }
  .card img {
    @apply h-10;
  }
  .card span {
    @apply font-bold text-xl;
  }
  .wrapper3 {
    @apply max-w-xl mx-auto mt-16;
  }
  .profile3 {
    @apply mt-5;
  }
  .profile-img {
    @apply h-36 object-cover object-top m-5;
    min-width: 9rem;
  }
  .profile3 h3 {
    @apply font-bold text-xl;
  }
  .role {
    @apply text-sm text-gray-500;
  }
  .desc {
    @apply mt-3 leading-snug;
  }
  .wrapper4 {
    @apply max-w-2xl my-12 mx-auto p-8 bg-gray-100;
  }
  .container4 {
    @apply w-auto max-w-none;
  }
  input[type="email"] {
    @apply py-3 px-6 rounded-l-md border border-gray-400;
  }
  .wrapper5 {
    @apply max-w-2xl my-12 mx-auto p-8 bg-gray-100;
  }
  .container5 {
    @apply w-auto max-w-none;
  }
  input[type="email"] {
    @apply py-3 px-6 rounded-l-md border border-gray-400;
  }
  button {
    @apply py-3 px-6 rounded-r-md bg-teal-700 text-white;
  }
  .card {
    @apply m-8 p-8 w-80 bg-white rounded-md;
  }
  .card h2 {
    @apply font-bold text-2xl;
  }
  .card p {
    @apply mt-4;
  }
  .card a {
    @apply block bg-teal-700 text-white px-4 py-2 rounded-md text-center text-sm;
  }
  .card ul {
    @apply bg-white my-8 mx-auto;
    width: 44rem;
  }
  .card ul li {
    @apply p-5 text-center transition-all duration-200 cursor-pointer border-b-2 bg-white hover:border-green-400;
  }
  .container6 {
    @apply max-w-3xl mx-auto p-10;
  }
  .btn2 {
    @apply m-2 py-3 px-4 bg-sky-600 text-white text-sm text-center rounded-md;
  }
  .container7 {
    @apply max-w-none w-auto;
  }
  #learn {
    @apply bg-orange-200;
  }
  #teach {
    @apply bg-blue-200;
  }
  .split {
    @apply flex justify-center items-center text-center;
  }
  h1 {
    @apply font-bold text-6xl;
  }
  p {
    @apply mt-2;
  }
  a {
    @apply inline-block mt-6 py-3 px-5 rounded-md bg-white text-sm font-bold;
  }
  .container8 {
    @apply m-8 max-w-md p-4;
  }
  .container8 img {
    @apply rounded-lg;
  }
  .container8 h2 {
    @apply font-bold text-xl;
  }
  .container8 p {
    @apply mt-1;
  }
  .wrapper9 {
    @apply my-12 mx-auto max-w-4xl;
    min-width: 720px;
  }
  .container9 {
    @apply max-w-none w-auto;
  }
  .plan {
    @apply bg-white p-8 rounded-xl shadow-md mx-4;
  }
  .plan-highlight {
    @apply bg-pink-600 text-white;
  }
  .plan h2 {
    @apply font-bold text-2xl;
  }
  .plan p {
    @apply font-bold text-4xl mt-5;
  }
  .plan span {
    @apply text-sm opacity-80;
  }
  .plan-highlight h2 {
    @apply font-bold text-2xl;
  }
  .plan-highlight p {
    @apply font-bold text-4xl mt-5;
  }
  .plan-highlight span {
    @apply text-sm opacity-80;
  }
  header {
    @apply bg-white py-5 px-6;
    min-width: 767px;
  }
  .plan ul li {
    @apply inline-block mx-5 border-b-0 hover:border-b-4 hover:border-green-400;
  }
  .btn4 {
    @apply bg-blue-500 text-white py-2 px-5 rounded-full;
  }
  .container9 {
    @apply max-w-3xl rounded-3xl my-12 mx-auto bg-white;
  }
  .container9 img {
    @apply rounded-l-3xl;
  }
  .details {
    @apply p-8;
  }
  .container9 h2 {
    @apply font-bold text-2xl;
  }
  .container9 p {
    @apply mt-3;
  }
  .container10 {
    @apply max-w-none w-80 bg-white my-20 mx-auto p-4 rounded-lg;
  }
  .count {
    @apply py-px px-2 bg-blue-50 text-blue-800 text-lg rounded;
  }
  .container11 {
    @apply max-w-none w-72 mx-auto my-8;
  }
  .container11 span {
    @apply block mt-5 font-bold text-2xl text-cyan-800;
  }
  .container11 h3 {
    @apply mt-2 font-bold text-xl;
  }
  .container11 p {
    @apply mt-2 text-gray-700;
  }
  .container12 {
    @apply max-w-none w-96 m-8 p-4 bg-teal-700 text-white;
  }
  .container12 img {
    @apply w-16 h-16 object-cover mr-3 rounded-md;
  }
  .container13 {
    @apply max-w-none w-auto min-h-screen bg-indigo-200 p-8;
  }
  .container13 h1 {
    @apply mb-6 font-bold text-4xl;
  }
  .testimonial {
    min-width: 12.5rem;
    @apply max-w-sm m-4 p-7 bg-white rounded-xl;
  }
  .iconR {
    @apply mx-1 w-16 h-16 bg-gray-700 text-white rounded-full;
  }
  .wrapper14 {
    @apply min-h-screen p-12 justify-center items-center;
  }
  .container14 {
    @apply max-w-[24rem] md:max-w-3xl bg-white rounded-xl;
  }
  .article-img {
    @apply w-full h-full object-cover rounded-t-xl md:rounded-t-none md:rounded-l-xl;
  }
  .details {
    @apply p-9;
  }
  .details h2 {
    @apply text-[1.4rem] leading-snug font-bold text-gray-600;
  }
  .details > p {
    @apply mt-3 text-gray-500 text-sm;
  }
  .article-footer {
    @apply mt-6 leading-none;
  }
  .article-footer > img {
    @apply h-11 w-11 rounded-full mr-4;
  }
  .article-footer p {
    @apply text-sm font-bold text-gray-600;
  }
  .article-footer span {
    @apply text-sm text-gray-400;
  }
  .share-icon {
    @apply p-3 bg-gray-100 rounded-full;
  }
  .container15 {
    @apply max-w-3xl w-auto my-8 mx-auto;
  }
  .report {
    @apply m-4 p-6 h-64 text-center bg-teal-200 rounded-2xl;
  }
  .report > span:nth-child(1) {
    @apply text-lg;
  }
  .report > span:nth-child(2) {
    @apply font-bold text-4xl;
  }
  .container17 {
    @apply max-w-xl my-24 mx-auto p-3 border border-gray-200;
  }
  .container17 > img {
    @apply h-12 w-12 rounded-full mr-3;
  }
  .container17 a {
    @apply text-gray-500;
  }
  .container17 a > strong {
    @apply text-gray-800;
  }
  .options {
    @apply h-4;
  }
  .actions {
    @apply max-w-md mt-2;
  }
  .actions img {
    @apply h-[1.1rem] inline-block align-middle mr-2;
  }
  .actions span {
    @apply text-[0.8rem] text-gray-600;
  }
  .container18 {
    @apply max-w-none w-auto min-w-[38rem];
  }
  .item {
    @apply p-12 text-4xl font-bold text-white uppercase tracking-wide bg-cover bg-center;
  }
  .item:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://images.pexels.com/photos/271639/pexels-photo-271639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300");
  }
  .item:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://images.pexels.com/photos/38296/cycling-bicycle-riding-sport-38296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300");
  }
  .item:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://images.pexels.com/photos/1571463/pexels-photo-1571463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300");
  }
  .item:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("https://images.pexels.com/photos/3661391/pexels-photo-3661391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300");
  }
  .item a {
    @apply bg-transparent bg-opacity-0 font-bold m-0 p-0;
  }
  .lis li {
    @apply h-1 bg-pink-400 my-10;
  }
  .pra p {
    @apply h-1 bg-gray-200 my-10;
  }
}
/* .wrapper {
    @apply bg-white w-80 mt-16 mx-auto rounded-md text-center p-10;
    height: 28rem;
     .link {
    @apply block mt-4 py-2 px-4 rounded-md border border-cyan-500;
  }
  .login-link {
    @apply bg-cyan-500 text-white;
  }
  } */
